apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: controller-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: enterprise-contract-controller-proxy-role
subjects:
- kind: ServiceAccount
  name: enterprise-contract-controller
  namespace: enterprise-contract
