apiVersion: appstudio.redhat.com/v1alpha1
kind: EnterpriseContractPolicy
metadata:
  name: enterprisecontractpolicy-sample
spec:
  description: My custom enterprise contract policy configuration
  sources:
    - policy:
        - quay.io/hacbs-contract/ec-release-policy:latest
  configuration:
    exclude:
      - not_useful
      - test:conftest-clair
    include:
      - always_checked
      - "@salsa_one_collection"
