name: Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  Checks:

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
          disable-telemetry: true

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go environment
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          cache: true
          go-version-file: go.mod
          cache-dependency-path: '**/go.sum'

      - name: Check go versions
        uses: conforma/github-workflows/golang-version-check@main

      - name: Build all
        run: make all

      - name: Test
        run: make test

      - name: Upload unit test coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./cover.out
          flags: controller

      - name: Upload api test coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./api_cover.out
          flags: api

      - name: Upload schema test coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./schema_cover.out
          flags: schema

      # If enterprisecontractpolicy_types.go is updated without a corresponding change to the crd
      # an uncommitted change can show.
      - name: Check for uncommitted changes
        run: |
          if ! git diff --exit-code -s; then
            for f in $(git diff --exit-code --name-only); do
              echo "::error file=$f,line=1,col=1,endColumn=1::File was modified in build"
              echo -e "\033[1;33mHint:\033[0m Maybe you need to run \033[1;32mmake all\033[0m"
            done
            exit 1
          fi
